/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

html{
  font-size: 16px;
}
/* Selector de etiqueta */
body{
  font-family: 'Raleway', sans-serif;
}
p{
  font-size: 1rem;
  font-weight: 300;
  color: #2e2e2e;
}
section{
  margin-top: 4rem;
}


/* Selector de clase */
.container{
  max-width: 1024px;
  margin: 0 auto;
}

.detalles{
  padding: .5rem 2rem;
  border: 1px solid #dadce0;
  border-radius: 8px;
  transition: all .5s ease;
  -webkit-box-shadow: 2px 2px 4px -1px rgba(0,0,0,0.5);
  box-shadow: 2px 2px 4px -1px rgba(0,0,0,0.5);
}

/* Selector de id */
#cards{
  margin-top: 8rem;
}

#cards ul{
  list-style: none;
  padding: 0;
}

#cards ul>li{
  margin-top: .5rem;
}

#cards ul>li:first-child{
  font-size: 2rem;
  font-weight: 600;
}

/* */
.detalles:hover{
  -webkit-box-shadow: 5px 5px 4px -1px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 4px -1px rgba(0,0,0,0.75);
  transform: translateY(-.5);
}

/* Flex box*/
.flex{
  display: flex;
  justify-content: space-around;
}

#menu{
  padding: 2rem;
  border: 1px solid #dadce0;
}

#menu nav{
  display: flex;
  justify-content: end;
}

#menu nav a{
  margin-right: 1rem;
  text-decoration: none;
}

#menu nav a:last-of-type{
  margin-right: 0;
}

#menu nav a::after{
  content: '';
  display: block;
  width: 0;
  height: .15rem;
  background-color: blue;
  margin-top: .2rem;
  transition: all .5s ease;
}

#menu nav a:hover::after{
  width: 100%;
}
